<h1>Caesar Cipher</h1>

<form action='/encrypt'>
  <div class="form-group">
    <label for="plain_text">Texto</label>
    <textarea class="form-control" rows="3" id="plain_text" name='plain_text' placeholder="Texto para Criptografar"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Criptografar</button>
</form>


<form action='/decrypt'>
  <div class="form-group">
    <label for="encrypt_text">Texto</label>
    <textarea class="form-control" rows="3" id="encrypt_text" name='encrypt_text' placeholder="Texto para Descriptografar"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Descriptografar</button>
</form>
